@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col text-center">
        <partial name="~/Views/Shared/_CardDeck.cshtml" model="Model.RandomCards" />
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <form asp-controller="Home" asp-action="EvaluateHand" method="post">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">New Hand</a>
            <button type="submit" name="submit" class="btn btn-secondary">Get Poker Hand</button>
        </form>
    </div>
</div>
